
- form_tag password_resets_path, :class => 'login' do
  %h2 Forgot Password
  %p
    Fill out the form below and instructions
    to reset your password will be emailed to you.
  %br
  %label{:for => 'email'} Email:
  = text_field_tag 'email'
  %br
  %br
  %button{:type => 'submit', :name => 'Submit'}
    Request New Password