.form_element
  .step_number
    01
  .step_details
    %h2 
      Post your code from a gist.
      %span
        %a{ :href => 'http://gist.github.com' } Gist Link
    = form.text_field :gist_url

.form_element
  .step_number
    02
  .step_details.bottom
    %h2 
      Or, paste your code, we create the Gist.
      %span
        %a{ :href => '' } Show
.code_box.hidden
  = form.text_area :code

.form_element
  .step_number
    03
  .step_details
    %h2 Title your submission.
    = form.text_field :title

.form_element{ :style => 'height: 165px;' }
  .step_number.text_height
    04
  .step_details.text_height
    %h2 Description of your submission.
    = form.text_area :context



