.date= @snippet.displayed_on.to_s(:no_year)

.title= @snippet.title

.code
  - if @snippet.gist_id.blank?
    =h @snippet.code
  - else
    %script{ :src => @snippet.gist_url + ".js" }
    .hidden=h @snippet.code


%hr

= render :partial => 'refactors/refactor', :collection => @snippet.refactors

.refactor= link_to "Refactor", new_snippet_refactor_path(@snippet)