.author
  = refactor.user.login
  .avatar= gravatar_for refactor.user
  
.code
  - if refactor.gist_id.blank?
    =h refactor.code
  - else
    %script{ :src => refactor.gist_url + ".js" }
    .hidden=h refactor.code

.timestamp
  = refactor.created_at

.hidden= render :partial => 'refactors/inline_form', :locals => {:code => refactor.code}
%hr