= "#{@user.login},"
Thanks for submitting a snippet to RefactorMe. We have reviewed it and have approved it!

= "Your snippet is scheduled be featured #{@snippet.position} day(s) from today."

To make sure you do not miss your snippet, make sure you subscribe to the RSS Feed.

Regards,
RefactorMe
http://www.refactorme.com