= "#{user.login},"
%br
Thanks for submitting a snippet to RefactorMe. We have reviewed it and have approved it!
%br
= "Your snippet is scheduled be featured #{snippet.position} day(s) from now."
%br
To make sure you do not miss your snippet, make sure you subscribe to the RSS Feed.
%br
Regards,
%br
RefactorMe
%br
http://www.refactorme.com