html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote:before,
  blockquote:after,   q:before,
  q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img {
  border: none; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: #212121;
  color: #FFF; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 14px; }

ol, ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none; }

a,
a:hover,
a:visited,
a:active {
  color: #00aeef;
  text-decoration: none; }

textarea {
  font-family: "Monaco", Courier, sans-serif; }

.hidden {
  display: none; }

.content form {
  padding: 10px 20px 20px 20px;
  overflow: hidden;
  margin: 0 auto; }

h5 {
  border-bottom: 1px dotted #999;
  margin-bottom: 10px; }

label {
  font-weight: bold;
  float: left;
  text-align: right;
  width: 150px;
  margin-right: 10px;
  padding-top: 7px; }

input {
  font-size: 14px;
  padding: 3px;
  width: 238px;
  margin-bottom: 15px; }

textarea {
  font-size: 14px;
  padding: 3px;
  width: 350px;
  margin-bottom: 15px;
  height: 100px; }

form.login {
  width: 330px; }
  form.login ul.forgot_password {
    margin-top: 7px; }
    form.login ul.forgot_password li {
      display: inline;
      margin-left: 10px; }
  form.login label {
    width: 70px; }
  form.login input {
    width: 238px; }
  form.login button {
    display: block;
    float: left;
    margin: 0 3px 0 80px; }
    form.login button img {
      height: 16px;
      margin: 0 6px -3px 0 !important;
      padding: 0;
      text-decoration: none;
      width: 16px; }

button {
  background-color: #92C97C;
  background: url('/images/good_button.png') repeat-x;
  color: #E8F7DF;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 100%;
  font-weight: bold;
  line-height: 130%;
  margin: 0 7px 0 160px;
  padding: 5px 10px 6px 7px;
  text-decoration: none; }

.errorExplanation {
  padding: 8px;
  color: #8A1F11; }
  .errorExplanation h2 {
    font-size: 14px; }
  .errorExplanation ul {
    margin-left: 20px;
    list-style-type: inherit; }

.code_input {
  margin-bottom: 20px; }
  .code_input .gist_block,
  .code_input .code_block {
    margin-left: 50px;
    padding: 8px;
    border: 2px solid #999;
    width: 475px; }
    .code_input .gist_block h5,
    .code_input .code_block h5 {
      border: none; }
    .code_input .gist_block label,
    .code_input .code_block label {
      width: 100px; }
  .code_input .gist_block {
    margin-bottom: 10px; }
  .code_input .code_block {
    margin-top: 10px; }
  .code_input .or_block {
    color: #00aeef;
    margin-left: 285px; }
    .code_input .or_block h1 {
      font-size: 24px; }
  .code_input .code_block label {
    width: 100px; }

.gist {
  color: #000; }
  .gist div {
    padding: 0;
    margin: 0; }
  .gist .gist-file {
    border: 3px solid #dedede;
    font-family: Monaco, "Courier New", monospace; }
    .gist .gist-file .gist-meta {
      overflow: hidden;
      font-size: 85%;
      padding: .5em;
      color: #666;
      background-color: #eaeaea;
      display: none; }
      .gist .gist-file .gist-meta a {
        color: #369; }
        .gist .gist-file .gist-meta a:visited {
          color: #737; }
    .gist .gist-file .gist-data {
      overflow: auto;
      background-color: #f8f8ff;
      font-size: 100%; }
      .gist .gist-file .gist-data pre {
        font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
        background: transparent !important;
        margin: 0 !important;
        border: none !important;
        padding: .25em .5em .5em .5em !important; }
      .gist .gist-file .gist-data .gist-highlight {
        background: transparent !important; }
      .gist .gist-file .gist-data .gist-line-numbers {
        background-color: #ececec;
        color: #aaa;
        border-right: 1px solid #ddd;
        text-align: right; }
        .gist .gist-file .gist-data .gist-line-numbers span {
          clear: right;
          display: block; }

.gist-syntax {
  background: #ffffff; }
  .gist-syntax .c {
    color: #999988;
    font-style: italic; }
  .gist-syntax .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .gist-syntax .k {
    color: #000000;
    font-weight: bold; }
  .gist-syntax .o {
    color: #000000;
    font-weight: bold; }
  .gist-syntax .cm {
    color: #999988;
    font-style: italic; }
  .gist-syntax .cp {
    color: #999999;
    font-weight: bold; }
  .gist-syntax .c1 {
    color: #999988;
    font-style: italic; }
  .gist-syntax .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic; }
  .gist-syntax .gd {
    color: #000000;
    background-color: #ffdddd; }
    .gist-syntax .gd .x {
      color: #000000;
      background-color: #ffaaaa; }
  .gist-syntax .ge {
    color: #000000;
    font-style: italic; }
  .gist-syntax .gr {
    color: #aa0000; }
  .gist-syntax .gh {
    color: #999999; }
  .gist-syntax .gi {
    color: #000000;
    background-color: #ddffdd; }
    .gist-syntax .gi .x {
      color: #000000;
      background-color: #aaffaa; }
  .gist-syntax .go {
    color: #888888; }
  .gist-syntax .gp {
    color: #555555; }
  .gist-syntax .gs {
    font-weight: bold; }
  .gist-syntax .gu {
    color: #aaaaaa; }
  .gist-syntax .gt {
    color: #aa0000; }
  .gist-syntax .kc {
    color: #000000;
    font-weight: bold; }
  .gist-syntax .kd {
    color: #000000;
    font-weight: bold; }
  .gist-syntax .kp {
    color: #000000;
    font-weight: bold; }
  .gist-syntax .kr {
    color: #000000;
    font-weight: bold; }
  .gist-syntax .kt {
    color: #445588;
    font-weight: bold; }
  .gist-syntax .m {
    color: #009999; }
  .gist-syntax .s {
    color: #d14; }
  .gist-syntax .na {
    color: #008080; }
  .gist-syntax .nb {
    color: #0086B3; }
  .gist-syntax .nc {
    color: #445588;
    font-weight: bold; }
  .gist-syntax .no {
    color: #008080; }
  .gist-syntax .ni {
    color: #800080; }
  .gist-syntax .ne {
    color: #990000;
    font-weight: bold; }
  .gist-syntax .nf {
    color: #990000;
    font-weight: bold; }
  .gist-syntax .nn {
    color: #555555; }
  .gist-syntax .nt {
    color: #000080; }
  .gist-syntax .nv {
    color: #008080; }
  .gist-syntax .ow {
    color: #000000;
    font-weight: bold; }
  .gist-syntax .w {
    color: #bbbbbb; }
  .gist-syntax .mf {
    color: #009999; }
  .gist-syntax .mh {
    color: #009999; }
  .gist-syntax .mi {
    color: #009999; }
  .gist-syntax .mo {
    color: #009999; }
  .gist-syntax .sb {
    color: #d14; }
  .gist-syntax .sc {
    color: #d14; }
  .gist-syntax .sd {
    color: #d14; }
  .gist-syntax .s2 {
    color: #d14; }
  .gist-syntax .se {
    color: #d14; }
  .gist-syntax .sh {
    color: #d14; }
  .gist-syntax .si {
    color: #d14; }
  .gist-syntax .sx {
    color: #d14; }
  .gist-syntax .sr {
    color: #009926; }
  .gist-syntax .s1 {
    color: #d14; }
  .gist-syntax .ss {
    color: #990073; }
  .gist-syntax .bp {
    color: #999999; }
  .gist-syntax .vc {
    color: #008080; }
  .gist-syntax .vg {
    color: #008080; }
  .gist-syntax .vi {
    color: #008080; }
  .gist-syntax .il {
    color: #009999; }

.snippet_container {
  overflow: hidden;
  display: block; }
  .snippet_container #date {
    float: left;
    width: 100px;
    overflow: hidden;
    display: block;
    text-align: center; }
    .snippet_container #date .day {
      font-size: 79px;
      font-weight: bold;
      background-color: #707070;
      color: #FFF;
      margin-bottom: 1px; }
    .snippet_container #date .month {
      font-size: 20px;
      font-weight: bold;
      width: 50px;
      float: left;
      margin: 1px 1px 0 0;
      color: #00aeef; }
    .snippet_container #date .year {
      font-size: 34px;
      width: 47px;
      float: left;
      padding-top: 5px;
      margin: 1px 0 0 1px;
      color: #00aeef; }
      .snippet_container #date .year .century {
        line-height: 0.6em; }
  .snippet_container .snippet_nav {
    position: relative;
    font-size: 79px;
    text-align: center;
    margin-left: 102px;
    background-color: #707070;
    padding: 2px 0 1px;
    color: #e8e8e8; }
  .snippet_container #snippet {
    margin-left: 102px;
    position: relative; }

.refactor .details,
#snippet .details {
  background: url('/images/details_bg.png') repeat-y;
  height: 22px;
  padding-top: 8px; }
  .refactor .details ul,
  #snippet .details ul {
    font-size: 11px;
    color: #FFF;
    margin: 0 20px; }
    .refactor .details ul li,
    #snippet .details ul li {
      padding: 10px 0;
      margin-right: 20px;
      display: inline; }
    .refactor .details ul .bold,
    #snippet .details ul .bold {
      font-weight: bold; }

.refactor_container {
  overflow: hidden;
  margin: 25px 0; }
  .refactor_container .vote_label {
    float: left;
    width: 11px;
    height: 37px;
    background: url('/images/vote_label.png') no-repeat;
    margin-left: 91px; }
  .refactor_container .votes {
    float: left;
    display: block;
    overflow: hidden;
    width: 100px;
    text-align: center; }
    .refactor_container .votes .positive_vote,
    .refactor_container .votes .negative_vote {
      width: 50px;
      height: 33px;
      background: url('/images/details_bg.png') no-repeat;
      padding-top: 2px; }
    .refactor_container .votes .positive_vote {
      font-size: 22px;
      font-weight: bold;
      color: #00aeef;
      float: left; }
    .refactor_container .votes .negative_vote {
      font-size: 22px;
      font-weight: bold;
      color: #ab281d;
      margin-left: 51px; }
    .refactor_container .votes .action {
      display: block;
      overflow: hidden; }
      .refactor_container .votes .action a {
        color: #FFF;
        font-weight: bold; }
      .refactor_container .votes .action.voted {
        background-color: #C6D880;
        color: #264409; }
      .refactor_container .votes .action .neg_link,
      .refactor_container .votes .action .pos_link {
        width: 50px;
        height: 22px;
        padding: 8px 0; }
      .refactor_container .votes .action .pos_link {
        float: left;
        background-color: #00aeef;
        background: url('/images/good_button.png') repeat-x; }
      .refactor_container .votes .action .neg_link {
        margin-left: 51px;
        background-color: #AB281D;
        background: url('/images/bad_button.png') repeat-x; }
  .refactor_container .refactor {
    margin-left: 206px;
    position: relative; }
    .refactor_container .refactor .inline_reply label {
      width: 70px; }
    .refactor_container .refactor .inline_reply b {
      margin: 10px 0; }

table {
  margin: 0 auto;
  width: 80%; }
  table th {
    font-weight: bold; }
  table td {
    border-bottom: 1px dotted #DADADA;
    padding: 10px 8px; }

.container {
  margin: 0 auto;
  width: 960px; }
  .container .header {
    display: block;
    overflow: hidden; }
    .container .header h1 {
      font-size: 60px;
      padding: 20px 0; }
      .container .header h1 img {
        float: left;
        padding: 20px 0; }
    .container .header .description {
      font-weight: bold;
      color: #FFF;
      background: url('/images/seperator.png') no-repeat;
      padding: 8px 0px 0px 35px;
      height: 65px;
      margin-left: 280px;
      text-align: justify; }
    .container .header ul.navigation {
      color: #FFF;
      font-size: 11px;
      float: right;
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      display: inline; }
      .container .header ul.navigation li {
        margin: 0px;
        padding: 0px;
        display: inline; }
  .container .footer {
    margin-top: 20px;
    text-align: center; }
    .container .footer ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      display: inline; }
      .container .footer ul li {
        margin: 0px;
        padding: 0px;
        display: inline; }
