














.hidden {
  display: none; }

body {
  background-color: #D1C9C0;
  margin: 0;
  padding: 0; }

.container {
  background-color: #FFF;
  margin: 0 auto;
  padding: 0 20px;
  width: 780px; }
  .container #header .navigation {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline; }
    .container #header .navigation li {
      margin: 0px;
      padding: 0px;
      display: inline; }
  .container #footer .admin-panel {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline; }
    .container #footer .admin-panel li {
      margin: 0px;
      padding: 0px;
      display: inline; }
