














body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td, embed, object {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6, th, caption, address, cite, code, dfn, em, strong, var {
  font-weight: normal;
  font-style: normal; }

ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.0em; }

fieldset {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: left; }

img, abbr {
  border: 0; }

caption {
  text-align: left; }

q:before, q:after {
  content: ''; }

a, ins {
  text-decoration: none; }

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 96em;
  font-size: 62.5%;
  border-left: 4px solid #DADADA;
  border-right: 4px solid #DADADA;
  padding: 0.8em; }

code, pre {
  font-family: Monaco, 'Lucida Console', courier, monospace;
  font-size: 0.83em; }

.container {
  font-size: 1.2em; }
  .container h1 {
    font-size: 1.9em; }
  .container h2 {
    font-size: 1.7em; }
  .container h3 {
    font-size: 1.5em; }
  .container h4 {
    font-size: 1.3em; }
  .container h5 {
    font-size: 1.2em; }
  .container h6 {
    font-size: 1em; }

.hidden {
  display: none; }

.CodeRay {
  background-color: #f8f8f8;
  border: 1px solid silver;
  color: #100;
  margin-bottom: 1em; }
  .CodeRay .line_numbers {
    background-color: #def;
    color: gray;
    text-align: right; }
  .CodeRay .no {
    background-color: #def;
    color: gray;
    text-align: right;
    padding: 0px 4px; }
  .CodeRay br {
    font-weight: bold; }
  .CodeRay .code {
    width: 100%; }
    .CodeRay .code pre {
      margin: 4px;
      max-height: 250px;
      overflow: auto; }


span.CodeRay {
  white-space: pre;
  border: 0px;
  padding: 2px; }

table.CodeRay {
  border-collapse: collapse;
  width: 100%;
  padding: 2px; }
  table.CodeRay td {
    padding: 2px 4px;
    vertical-align: top; }

ol.CodeRay li {
  white-space: pre; }

.af {
  color: #00C; }

.an {
  color: #007; }

.av {
  color: #700; }

.aw {
  color: #C00; }

.bi {
  color: #509;
  font-weight: bold; }

.c {
  color: #888; }

.ch {
  color: #04D; }
  .ch .k {
    color: #04D; }
  .ch .dl {
    color: #039; }

.cl {
  color: #B06;
  font-weight: bold; }

.co {
  color: #036;
  font-weight: bold; }

.cr {
  color: #0A0; }

.cv {
  color: #369; }

.df {
  color: #099;
  font-weight: bold; }

.di {
  color: #088;
  font-weight: bold; }

.dl {
  color: black; }

.do {
  color: #970; }

.ds {
  color: #D42;
  font-weight: bold; }

.e {
  color: #666;
  font-weight: bold; }

.en {
  color: #800;
  font-weight: bold; }

.er {
  color: #F00;
  background-color: #FAA; }

.ex {
  color: #F00;
  font-weight: bold; }

.fl {
  color: #60E;
  font-weight: bold; }

.fu {
  color: #06B;
  font-weight: bold; }

.gv {
  color: #d70;
  font-weight: bold; }

.hx {
  color: #058;
  font-weight: bold; }

.i {
  color: #00D;
  font-weight: bold; }

.ic {
  color: #B44;
  font-weight: bold; }

.il {
  background: #eee; }
  .il .il {
    background: #ddd; }
    .il .il .il {
      background: #ccc; }
  .il .dl {
    font-weight: bold ! important;
    color: #888 ! important; }

.in {
  color: #B2B;
  font-weight: bold; }

.iv {
  color: #33B; }

.la {
  color: #970;
  font-weight: bold; }

.lv {
  color: #963; }

.oc {
  color: #40E;
  font-weight: bold; }

.on {
  color: #000;
  font-weight: bold; }


.pc {
  color: #038;
  font-weight: bold; }

.pd {
  color: #369;
  font-weight: bold; }

.pp {
  color: #579; }

.pt {
  color: #339;
  font-weight: bold; }

.r {
  color: #080;
  font-weight: bold; }

.rx {
  background-color: #fff0ff; }
  .rx .k {
    color: #808; }
  .rx .dl {
    color: #404; }
  .rx .mod {
    color: #C2C; }
  .rx .fu {
    color: #404;
    font-weight: bold; }

.s {
  background-color: #fff0f0; }
  .s.s {
    background-color: #ffe0e0; }
    .s.s.s {
      background-color: #ffd0d0; }
  .s.k {
    color: #D20; }
  .s.dl {
    color: #710; }

.sh {
  background-color: #f0fff0; }
  .sh .k {
    color: #2B2; }
  .sh .dl {
    color: #161; }

.sy {
  color: #A60; }
  .sy .k {
    color: #A60; }
  .sy .dl {
    color: #630; }

.ta {
  color: #070; }

.tf {
  color: #070;
  font-weight: bold; }

.ts {
  color: #D70;
  font-weight: bold; }

.ty {
  color: #339;
  font-weight: bold; }

.v {
  color: #036; }

.xt {
  color: #444; }

#header {
  height: 10em;
  padding: 1em; }
  #header ul.navigation {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline;
    float: right; }
    #header ul.navigation li {
      margin: 0px;
      padding: 0px;
      display: inline; }

.snippet_container {
  overflow: hidden;
  margin: 1em 0; }
  .snippet_container #date {
    float: left;
    margin-left: 7em;
    width: 10em;
    overflow: hidden;
    display: block;
    text-align: center;
    border: 1px solid #DADADA; }
    .snippet_container #date .day {
      font-size: 6.7em;
      font-weight: bold;
      padding-top: 10px;
      border-bottom: 1px solid #DADADA; }
    .snippet_container #date .month {
      font-size: 1.6em;
      font-weight: bold;
      width: 55px;
      float: left;
      padding: 0 0.1em;
      line-height: 0.6em;
      margin-top: 0.5em; }
    .snippet_container #date .year {
      font-size: 3em;
      width: 50px;
      float: left;
      padding: 0 0.1em;
      margin-top: 0.3em; }
      .snippet_container #date .year .century {
        line-height: 0.6em; }
  .snippet_container #snippet {
    margin-left: 20em;
    position: relative; }

.refactor_container {
  overflow: hidden;
  margin: 1em 0; }
  .refactor_container .votes {
    float: left;
    margin-left: 18.2em;
    overflow: hidden;
    text-align: right;
    border: 1px solid #DADADA;
    width: 8.3em; }
    .refactor_container .votes .positive_vote {
      font-size: 2.5em;
      font-weight: bold;
      color: #00AEEF; }
    .refactor_container .votes .negative_vote {
      font-size: 2.5em;
      font-weight: bold;
      color: #CC0A4A; }
  .refactor_container .refactor {
    margin-left: 27.5em;
    position: relative;
    overflow: hidden; }
    .refactor_container .refactor ul {
      font-size: 0.8em;
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      display: inline; }
      .refactor_container .refactor ul li {
        margin: 0px;
        padding: 0px;
        display: inline; }
      .refactor_container .refactor ul .bold {
        font-weight: bold; }
