.page_title
  %h1 User List

.users
  - @users.each_with_index do |user, index|
    .user{ :class => ('end_row' if (index + 1) % 6 == 0) }
      .avatar= gravatar_for user
      .user_info
        .login= user.login
        %a{ :href => user_path(user) }
          see profile
= will_paginate @users