@import compass/utilities.sass
@import reset.sass


!font_family = "Helvetica, Arial, sans-serif"
!fixed_font_family = "Monaco, 'Lucida Console', courier, monospace"

body
  :font-family = !font_family
  :margin 0 auto
  :width 96em
  :font-size 62.5%
  / 62.5% makes 1em = 10px
  :border-left 4px solid #DADADA
  :border-right 4px solid #DADADA
  :padding 0.8em

code, pre
  :font-family = !fixed_font_family
  :font-size 0.83em
  
.container
  :font-size 1.2em
  h1
    :font-size 1.9em
  h2
    :font-size 1.7em
  h3
    :font-size 1.5em
  h4
    :font-size 1.3em
  h5
    :font-size 1.2em
  h6
    :font-size 1em

.hidden
  :display none