@import compass/utilities.sass
@import reset.sass


!font_family = "'Helvetica Neue', Helvetica, Arial, sans-serif"
!fixed_font_family = "Monaco, 'Lucida Console', courier, monospace"

body
  :font-family = !font_family
  :margin 0 auto
  :width 96em
  :font-size 62.5%
  / 62.5% makes 1em = 10px

code, pre
  :font-family = !fixed_font_family
  :font-size 1.1em

.container
  :line-height 1.6em
  :font-size 1.2em
  h1
    :font-size 1.9em
  h2
    :font-size 1.7em
  h3
    :font-size 1.5em
  h4
    :font-size 1.3em
  h5
    :font-size 1.2em
  h6
    :font-size 1em
  .code
    :font-size 0.91em

.hidden
  :display none