@import compass/reset.sass
@import compass/utilities.sass

@import components/global
@import components/form
@import components/gist
@import components/snippet

.header
  :background-color #162748
  :padding 10px
  h1
    +replace-text('/images/header_logo.png', 5%)
  a
    :color #ece1cb
  ul.navigation
    +inline-list
    :font-weight bold
    :float right
    :height 30px
    :font-size 11px
    li
      :border-left 1px solid #DADADA
      :padding 10px 0 0 8px
      :margin 0 8px
      
      a:hover
        :text-decoration underline
