.page_title
  %h1= @date.strftime('%B')
  = link_to image_tag("forward.png"), @date.next_month.future? ? '#' : display_calendar_path(@date.next_month.year, @date.next_month.month), :class => 'month next' 
  = link_to image_tag("back.png"), display_calendar_path(@date.last_month.year, @date.last_month.month), :class => 'month previous'
  = render_calendar(@calendar)
