.form_element
  :display block
  :overflow hidden
  :margin-bottom 2px
  .step_number,
  .step_details
    :background url('/images/form_bg.png') no-repeat
  .step_number
    :float left
    :font-size 69px
    :font-weight bold
    :width 100px
    :text-align center
    &.text_height
      :height 160px
      :padding-top 65px
  .step_details
    :margin-left 101px
    :padding-top 16px
    :height 69px
    :padding-left 10px
    h2
      :padding-bottom 5px
    &.bottom
      :padding-top 46px
      :height 39px
    &.text_height
      :height 160px
      :padding-top 10px

.code_box
  :margin 2px 0 2px 102px
  :padding 10px 0 20px 20px
  :background url('/images/form_bg.png') repeat-y
  textarea
    :height 200px
    :width 600px
    :margin-bottom 0

button
  :background-color #92C97C
  :background url('/images/good_button.png') repeat-x
  :color #E8F7DF
  :cursor pointer
  :display block
  :float left
  :font-size 100%
  :font-weight bold
  :line-height 130%
  :margin 0 7px 0 120px
  :padding 7px 7px 7px 7px
  :text-decoration none
  :border 0

.inline_reply
  .step_number
    :font-size 60px
  .step_details
    :height 60px
    :padding-top 15px
    h2
      :font-size 14px
    &.bottom
      :padding-top 49px
      :height 26px
    &.text_height
  .code_box
    textarea
      :width 480px
      
.content
  form
    / :padding 10px 20px 20px 20px
    :overflow hidden
    :margin 0 auto
h5
  :border-bottom 1px dotted #999
  :margin-bottom 10px

label
  :font-weight bold
  :float left
  :text-align right
  :width 150px
  :margin-right 10px
  :padding-top 7px

input
  :font-size 14px
  :padding 3px
  :width 238px
  :margin-bottom 15px
  
textarea
  :font-size 14px
  :padding 3px
  :width 350px
  :margin-bottom 15px
  :height 100px

form.login
  :width 330px
  ul.forgot_password
    :margin-top 7px
    li
      :display inline
      :margin-left 10px
  label
    :width 70px
  input
    :width 238px
  button
    :display block
    :float left
    :margin 0 3px 0 80px
    img
      :height 16px
      :margin 0 6px -3px 0 !important
      :padding 0
      :text-decoration none
      :width 16px



.errorExplanation
  :padding 8px
  :color #8A1F11
  h2
    :font-size 14px
  ul
    :margin-left 20px
    :list-style-type inherit

.code_input
  :margin-bottom 20px
  .gist_block,
  .code_block
    :margin-left 50px
    :padding 8px
    :border 2px solid #999
    :width 475px
    h5
      :border none
    label
      :width 100px
  .gist_block
    :margin-bottom 10px
    
  .code_block
    :margin-top 10px

  .or_block
    :color #00aeef
    :margin-left 285px
    h1
      :font-size 24px

  .code_block
    label
      :width 100px

/ button.submission
/   :float none
/   :margin 0 auto
