
.content
  form
    :padding 10px 20px 20px 20px
    :overflow hidden
    :margin 0 auto
h5
  :border-bottom 1px dotted #999
  :margin-bottom 10px

label
  :font-weight bold
  :float left
  :text-align right
  :width 150px
  :margin-right 10px
  :padding-top 7px

input
  :font-size 14px
  :padding 3px
  :width 238px
  :margin-bottom 15px
  
textarea
  :font-size 14px
  :padding 3px
  :width 350px
  :margin-bottom 15px
  :height 100px

form.login
  :width 330px
  ul.forgot_password
    :margin-top 7px
    li
      :display inline
      :margin-left 10px
  label
    :width 70px
  input
    :width 238px
  button
    :display block
    :float left
    :margin 0 3px 0 80px
    img
      :height 16px
      :margin 0 6px -3px 0 !important
      :padding 0
      :text-decoration none
      :width 16px

button
  :background-color #92C97C
  :background url('/images/good_button.png') repeat-x
  :color #E8F7DF
  :cursor pointer
  :display block
  :float left
  :font-size 100%
  :font-weight bold
  :line-height 130%
  :margin 0 7px 0 160px
  :padding 5px 10px 6px 7px
  :text-decoration none

.errorExplanation
  :padding 8px
  :color #8A1F11
  h2
    :font-size 14px
  ul
    :margin-left 20px
    :list-style-type inherit

.code_input
  :margin-bottom 20px
  .gist_block,
  .code_block
    :margin-left 50px
    :padding 8px
    :border 2px solid #999
    :width 475px
    h5
      :border none
    label
      :width 100px
  .gist_block
    :margin-bottom 10px
    
  .code_block
    :margin-top 10px

  .or_block
    :color #00aeef
    :margin-left 285px
    h1
      :font-size 24px

  .code_block
    label
      :width 100px

/ button.submission
/   :float none
/   :margin 0 auto