body
  :font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  :font-size 12px
  :background-color #212121

h1, h2, h3, h4, h5, h6
  :font-weight bold

h1
  :font-size 20px
h2
  :font-size 18px
h3
  :font-size 16px
h4
  :font-size 14px

ol, ul
  :list-style-image none
  :list-style-position outside
  :list-style-type none

a,
a:hover,
a:visited,
a:active
  :color #00aeef
  :text-decoration none

textarea
  :font-family "Monaco", Courier, sans-serif
  
.hidden
  :display none