body
  :font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  :font-size 12px
  :background-color #faf6ed

h1, h2, h3, h4, h5, h6
  :font-weight bold

h1
  :font-size 20px
h2
  :font-size 18px
h3
  :font-size 16px
h4
  :font-size 14px

ol, ul
  :list-style-image none
  :list-style-position outside
  :list-style-type none

a,
a:hover,
a:visited,
a:active
  :color #ee8a1c
  :text-decoration none

textarea
  :font-family "Monaco", Courier, sans-serif

.container
  :margin 0 auto
  :width 960px
  
.error, .notice, .success
  :border 2px solid #DDDDDD
  :padding 0.8em
  :width 50%
  :margin 1.2em auto
  :text-align center
.success
  :background-color #E6EFC2
  :border-color #C6D880
  :color #264409
.error
  :background-color #FBE3E4
  :border-color #FBC2C4
  :color #8A1F11
.notice
  :background-color #FFF6BF
  :border-color #FFD324
  :color #514721

.hidden
  :display none