.snippet_container
  :overflow hidden
  :margin 1em 0
  #date
    :float left
    :margin-left 7em
    :width 100px
    :overflow hidden
    :display block
    :text-align center
    .day
      :font-size 79px
      :font-weight bold
      :border-bottom 1px solid #DADADA
      :background-color #707070
      :color #FFF
      :margin-bottom 1px
    .month
      :font-size 20px
      :font-weight bold
      :width 50px
      :float left
      :margin 1px 1px 0 0
      :background-color #FFF
      :color #707070
    .year
      :font-size 34px
      :width 47px
      :float left
      :padding-top 5px
      :margin 1px 0 0 1px
      :background-color #FFF
      :color #707070
      .century
        :line-height 0.6em

  .snippet_nav
    :position relative
    :font-size 32px
    :display block
    :overflow hidden
    :margin-left 200px
    :background-color #567ba4
    :padding 5px 10px
    :color #e8e8e8
    .right_arrow
      :float right
      :background url('/images/right_arrow.png') no-repeat
      a
        :width 45px
        :height 35px
        :display block
    .left_arrow
      :float left
      :background url('/images/left_arrow.png') no-repeat
      a
        :width 45px
        :height 35px
        :display block
    .middle
      :margin 0 40px
      :text-align center
      

  #snippet
    :margin-left 200px
    :position relative
    .code

.refactor,
#snippet
  ul
    :font-size 11px
    :margin-bottom 2px
    :padding 7px
    +inline-list
    li
      :padding 0 6px
      :background-color #fff
      :border-left 2px solid #DADADA
      :border-right 2px solid #DADADA
      :border-bottom 2px solid #DADADA
      :margin 0 2px
    .bold
      :font-weight bold

.refactor_container
  :overflow hidden
  :margin 1em 0
  .votes
    :float left
    :margin-left 200px
    :overflow hidden
    :text-align right
    :border 1px solid #DADADA
    :width 100px
    :background url('/images/vote_bg.png') no-repeat
    .positive_vote,
    .negative_vote
      :margin-right 5px
    .positive_vote
      :font-size 30px
      :font-weight bold
      :color #00AEEF
    .negative_vote
      :font-size 30px
      :font-weight bold
      :color #CC0A4A
      
    .action
      :display block
      :overflow hidden
      :text-align center
      :background-color #FFF
      :padding 4px 0
      a
        :color #FFF
        :font-weight bold
        :padding 3px 0
      &.voted
        :background-color #C6D880
        :color #264409
      .neg_link,
      .pos_link
        :display block
      .pos_link
        :float left
        :width 48px
        :margin-right 1px
        :background-color #567BA4
      .neg_link
        :float right
        :width 48px
        :margin-left 1px
        :background-color #ed145b

  .refactor
    :margin-left 315px
    :position relative
    :overflow hidden
    .code
    
    .inline_reply
      label
        :width 70px
      b
        :margin 10px 0