%h2 About This Site

%p 
  This site was developed under the guidance of Justin Smestad, but would not be possible without the 
  help of a handful of contributers during Mountain West Ruby Conference 2009. Below is a list of 
  contributers, who without their contribution this site would not have been possible. I would also
  like to thank Engine Yard for their support during the drawn out development of this site.

%br
%br

%h5
  Contributers
%ul
  %li
    Justin Smestad - 
    %a{ :href => "http://www.evalcode.com"}
      http://www.evalcode.com
  %li
    Hoshi Ludwig
  %li
    Jacob Fugal
  %li
    Chris Nguyen
  %li
    Jay Zeschin -
    %a{ :href => "http://unstuck.zeschin.org" }
      http://unstuck.zeschin.org
  %li
    Bobby Wilson
