.simple_container
  %h2 About This Site

  %p This site was work done during the Engine Yard Hackfest @ Mountain West Ruby Conference 2009. It would not be possible without the work
  of a group of dedicated people.
  
  %h3
  %ul
    %li
      Justin Smestad
    %li
      Jay Zeschin
    %li
      Gustin Prudner
    %li
      
