.page_title
  %h1 Public API

  %p An API will be developed soon for integration with various mediums.

%br

%h2 API Features

%ul.features
  %li Automatic submissions from GitHub Projects
  %ul
    %li 
      Add a post-recieve commit hook on the GitHub project you would like to submit to RefactorMe.
      %br
      %strong Post-Receive URL: 
      http://www.refactorme.com/api/github/track_commit
      %br
      %br
      %img{ :src => '/images/github_posthook.jpg'}
      %br
      %br
    %li Make sure your GitHub account is entered into your User Profile, otherwise your submissions will be rejected.
    %li Note - snippets will be submitted as the whole file, not just the commit diff.
%br

%p
  = "If you have specific needs, please #{link_to 'send your feedback', 'http://getsatisfaction.com/evalcode'}"
