.page_title
  %h1 Public API

  %p An API will be developed soon for integration with various mediums.

%br

%h2 API Features

%ul.features
  %li Automatic submissions from GitHub Projects
  %ul
    %li Add a post-recieve commit hook on the github project you would like to submit to RefactorMe.
    %li Make sure your github account is entered into your User Profile, otherwise the submission will be rejected.
    %li Note - gists will be generated as the entire changed file, not the change itself.

%br

%p
  = "If you have specific needs, please #{link_to 'send your feedback', 'http://getsatisfaction.com/evalcode'}"
